.content-box-left {
  padding: 1em;
  display: flex;
  border-left: 1px solid darkgray;
  border-top: 1px solid darkgray;
  border-top-left-radius: 3%;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.content-box-right {
  padding: 1em;
  display: flex;
  border: 1px solid darkgray;
  height: 100vh;
  justify-content: center;
  border-radius: 5%;
}
/* Podium */
.podium {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

.podium__item {
  width: 50%;
  text-align: center;
}

.podium__rank {
  color: #374a5c;
  text-shadow: 
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding: 0.5em;
}

.podium-player {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin: 0.2em;
}

.podium__name {
  margin: 2%;
  padding: 2%;
  color: lightgray;
  border-radius: 5px;
}

.first {
  height: 250px;
  background-color: #CFB53B;
  border-radius: 10px 10px 0px 0px;
}

.second {
  height: 200px;
  background-color: #A9A9A9 ;
  border-radius: 10px 0px 0px 0px;
}

.third {
  height: 150px;
  background-color: #9F6C3E;
  border-radius: 0px 10px 0px 0px;
}

.podium__rank {
  transition: height 0.5s ease-in-out;
}

.podium__rank.animate {
  height: 0;
}