.content-box-left {
  padding: 1em;
  display: flex;
  border: 1px solid darkgray;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.content-box-right {
  padding: 1em;
  display: flex;
  border: 1px solid darkgray;
  height: 100vh;
  justify-content: center;
}

.podium {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 300px;
}

.podium__item {
  width: 150px;
  text-align: center;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}

.podium__city {
  font-size: 18px;
  margin-bottom: 10px;
}

.podium__name {
  margin: 0;
}

.first {
  height: 250px;
  background-color: gold;
}

.second {
  height: 200px;
  background-color: silver;
}

.third {
  height: 150px;
  background-color: #cd7f32;
}

.podium__rank {
  transition: height 0.5s ease-in-out;
}

.podium__rank.animate {
  height: 0;
}