{% load static %}
<h1 class="text-center" id="clubName">{{ club.name }}</h1>
<div class="row">
  <div class="col-md-6">
    <!-- TOP LEFT -->
    <div class="content-box-left text-center">
      <div class="podium" id="playerPodium">
        <div class="podium__item">
          <p class="podium-player">
            {% if top_3.1.member.user %}
              {{top_3.1.user.first_name}} 
              {{top_3.1.user.last_name}}
            {% else %}
              {{top_3.1.created_user.first_name}} 
              {{top_3.1.created_user.last_name}}
            {% endif %}
          </p>
          <div class="podium__rank second">
            <h2 class="podium__name">
              {{top_3.1.score}}
            </h2>
          </div>
        </div>
        <div class="podium__item">
          <p class="podium-player">
            {% if top_3.0.user %}
              {{top_3.0.user.first_name}} 
              {{top_3.0.user.last_name}}
            {% else %}
              {{top_3.0.created_user.first_name}} 
              {{top_3.0.created_user.last_name}}
            {% endif %}
          </p>
          <div class="podium__rank first">
            <h2 class="podium__name">
              {{top_3.0.score}}
            </h2>
          </div>
        </div>
        <div class="podium__item">
          <p class="podium-player">
            {% if top_3.2.user %}
              {{top_3.2.user.first_name}} 
              {{top_3.2.user.last_name}}
            {% else %}
              {{top_3.2.created_user.first_name}} 
              {{top_3.2.created_user.last_name}}
            {% endif %}
          </p>
          <div class="podium__rank third">
            <h2 class="podium__name">
              {{top_3.2.score}}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- BOTTOM LEFT -->
    <div class="content-box-left text-center" style="align-items: baseline;">
      <div>
        <h2 class="">Recent Games</h2>
        <table class="ct ct-hover">
          <thead>
            <tr>
              <th>Type</th>
              <th>Buy-In</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          {% with last_three_games=club.games.all|dictsortreversed:"date"|slice:":3" %}
            {% for game in last_three_games %}
            <tr>
              <td>{{game.type}}</td>
              <td>{{game.buy_in}}</td>
              <td>{{game.date}}</td>
            </tr>
            {% endfor %}
          {% endwith %}
          </tbody>
        </table> 
        <button id="see-all-games" class="button-game m-3">See All Games</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <!-- RIGHT -->
    <div class="content-box-right">
      <div class="text-center" style="width: 100%;">
        <h2 class="">LeaderBoard</h2>
        <div class="div-scrollable div-scrollable-league mb-4" style="max-height: 35em;">
          <table id="leaderboardTable" class="ct ct-hover">
            <thead>
              <tr>
                <th scope="col">Ranking</th>
                <th scope="col">Name</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
              <tr>
                <td>
                  {{ member.ordinal_ranking }}
                </td>
                {% if member.user %}
                  <td> {{member.user.first_name}} {{ member.user.last_name }}</td>
                {% else %}
                  <td> {{member.created_user.first_name}} {{ member.created_user.last_name }}</td>
                {% endif %}
                <td>{{ member.score }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <button class="button-game" id="openDownloadLeaderboard">Download Leaderboard</button>
        <dialog class="container-sm modal-download-leaderboard" id="modalDownloadLeaderboard">
          <div class="embedded-tabel-container m-2 mb-4" id="modalTableEmbed"><!-- Leaderboard pdf goes here --></div>
          <div class="modal-options m-2 mx-4">
            <button class="button-game" id="closeDownloadLeaderboard">Exit</button>
            <button class="button-game" id="downloadTablePDF">Download PDF</button>
          </div>
        </dialog>
      </div>
    </div>
  </div>
</div>