{% load static %}
<h1 class="text-center">{{ club.name }}</h1>
<div class="row">
  <div class="col-md-6">
    <!-- TOP LEFT -->
    <div class="content-box-left text-center">
      <div class="podium">
        <div class="podium__item">
          <p class="podium-player">
            {{top_3.1.user.first_name}} 
            {{top_3.1.user.last_name}}
          </p>
          <div class="podium__rank second">
            <h2 class="podium__name">
              {{top_3.1.score}}
            </h2>
          </div>
        </div>
        <div class="podium__item">
          <p class="podium-player">
            {{top_3.0.user.first_name}} 
            {{top_3.0.user.last_name}}
          </p>
          <div class="podium__rank first">
            <h2 class="podium__name">
              {{top_3.0.score}}
            </h2>
          </div>
        </div>
        <div class="podium__item">
          <p class="podium-player">
            {{top_3.2.user.first_name}} 
            {{top_3.2.user.last_name}}
          </p>
          <div class="podium__rank third">
            <h2 class="podium__name">
              {{top_3.2.score}}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- BOTTOM LEFT -->
    <div class="content-box-left text-center" style="align-items: baseline;">
      <div>
        <h2 class="">Recent Games</h2>
        <table class="ct">
          <thead>
            <tr>
              <th>Type</th>
              <th>Buy-In</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          {% with last_three_games=club.games.all|dictsortreversed:"date"|slice:":3" %}
            {% for game in last_three_games %}
            <tr>
              <td>{{game.type}}</td>
              <td>{{game.buy_in}}</td>
              <td>{{game.date}}</td>
            </tr>
            {% endfor %}
          {% endwith %}
          </tbody>
        </table> 
        <button id="see-all-games" class="button-game">See All Games</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <!-- RIGHT -->
    <div class="content-box-right">
      <div class="text-center" style="width: 100%;">
        <h2 class="">LeaderBoard</h2>
        <table class="ct">
          <thead>
            <tr>
              <th scope="col">Ranking</th>
              <th scope="col">Name</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            {% for member in members %}
            <tr>
              <td>
                {% if member.ranking != 999999 %}{{ member.ranking }}
                {% else %}N/A{% endif %}
              </td>
              <td> {{member.user.first_name}} {{ member.user.last_name }}</td>
              <td>{{ member.score }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table> 
      </div>
    </div>
  </div>
</div>