{% load static %}
{% if members|length == 0 %}
  <p>No members found.</p>
{% else %}
<h1 class="text-center">Players</h1>
<table class="ct ct-hover text-center">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    {% for member in members %}
    <tr>
      {% if member.user %}
        <td>{{ member.user.first_name }}</td>
        <td>{{ member.user.last_name }}</td>
        <td>{{ member.user.email }}</td>
        <td>{{ member.user.phone }}</td>
        <td>{{ member.user.username }}</td>
      {% else %}
        <td>{{ member.created_user.first_name }}</td>
        <td>{{ member.created_user.last_name }}</td>
        <td>
          {% if member.created_user.email %}
            {{ member.created_user.email }}
          {% else %}
            No Known Email
          {% endif %}
        </td>
        <td>
          {% if member.created_user.phone %}
            {{ member.created_user.phone }}
          {% else %}
            No Known Number
          {% endif %}
        </td>
        <td>(Created User)</td>
      {% endif %}
      <!--Delete Member-->
      <td>
        <form method="post" name="players_remove">
          {% csrf_token %}
          <div>
            <!--Idenification--><input type="hidden" name="form_name" value="players_remove">
            <!--Idenification--><input type="hidden" name="user_id" value="{{ member.id }}">
            <button class="remove-btn" type="submit" onclick="return confirm('Are You Sure You Want to Remove {{ member.user.first_name }} {{ member.user.last_name }} From the Club?')"></button>
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table> 
{% endif %}
<form method="post" name="players_add">
  {% csrf_token %}
  <div class="d-flex">
    {{ form.username }}
    <!--Idenification--><input type="hidden" name="form_name" value="players_add">
    <button id="submit_player_add" type="submit" class="button-game" style="margin-left: 1em;">Add Member</button>
  </div>
</form>
<form method="post" name="created_players_add">
  {% csrf_token %}
  <div class="d-flex">
    {{ create_member_form.first_name }}
    {{ create_member_form.last_name }}
    {{ create_member_form.email }}
    {{ create_member_form.phone }}
    <!--Idenification--><input type="hidden" name="form_name" value="created_players_add">
    <button id="submit_created_player_add" type="submit" class="button-game" style="margin-left: 1em;">Create Member</button>
  </div>
</form>