{% load static %}
{% if members|length == 0 %}
  <p>No members found.</p>
{% else %}
<h1 class="d-flex align-items-center justify-content-center">Players<button id="addPlayer" class="add-player-btn m-2"></button></h1>
<table class="ct ct-hover text-center">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    {% for member in members %}
    <tr>
      {% if member.user %}
        <td>{{ member.user.first_name }}</td>
        <td>{{ member.user.last_name }}</td>
        <td>{{ member.user.email }}</td>
        <td>{{ member.user.phone }}</td>
        <td>{{ member.user.username }}</td>
      {% else %}
        <td>{{ member.created_user.first_name }}</td>
        <td>{{ member.created_user.last_name }}</td>
        <td>
          {% if member.created_user.email %}
            {{ member.created_user.email }}
          {% else %}
            No Known Email
          {% endif %}
        </td>
        <td>
          {% if member.created_user.phone %}
            {{ member.created_user.phone }}
          {% else %}
            No Known Number
          {% endif %}
        </td>
        <td>(Created User)</td>
      {% endif %}
      <!--Delete Member-->
      <td>
        <form method="post" name="players_remove">
          {% csrf_token %}
          <div>
            <!--Idenification--><input type="hidden" name="form_name" value="players_remove">
            <!--Idenification--><input type="hidden" name="user_id" value="{{ member.id }}">
            <button class="remove-btn" type="submit" onclick="return confirm('Are You Sure You Want to Remove {{ member.user.first_name }} {{ member.user.last_name }} From the Club?')"></button>
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table> 
{% endif %}
<dialog class="container-sm modal-add-player" id="modalAddPlayer">
  <div class="d-flex justify-content-end m-0">
    <button id="closeAddPlayer" class="remove-btn"></button>
  </div>
  <div class="d-flex">
    <div class="p-4 text-center" style="width: 50%; border-right: 1px solid lightgray;">
      <h4>Add Player By Username</h4>
      <form method="post" name="players_add">
        {% csrf_token %}
        {{ form.username }}
        <!--Idenification--><input type="hidden" name="form_name" value="players_add">
        <button id="submit_player_add" type="submit" class="button-game m-1 mt-3">Add Member</button>
      </form>
    </div>
    <div class="p-4 text-center" style="width: 50%; border-left: 1px solid lightgray;">
      <h4>Create New Player</h4>
      <form method="post" name="created_players_add">
        {% csrf_token %}
        {{ create_member_form.first_name }}
        {{ create_member_form.last_name }}
        {{ create_member_form.email }}
        {{ create_member_form.phone }}
        <!--Idenification--><input type="hidden" name="form_name" value="created_players_add">
        <button id="submit_created_player_add" type="submit" class="button-game m-1 mt-3">Create Member</button>
      </form>
    </div>
  </div>
</dialog>