<div>
  <h2 class="text-center">Recent Games</h2>
  <table class="ct ct-hover text-center" >
    <thead>
      <tr>
        <th>Type</th>
        <th>Buy-In</th>
        <th>Date</th>
        <th>Players</th>
      </tr>
    </thead>
    {% if club.games.all %}
    <tbody>
      {% for game in club.games.all %}
      <tr>
        <td>{{game.type}}</td>
        <td>{{game.buy_in}}</td>
        <td>{{game.date}}</td>
        <td>
          <div class="div-scrollable" style="max-height: 6em;">
            <ul>
            {% for player in game.players.all %}
              {% if player.user %}
                <li>{{ player.user.first_name }} {{ player.user.last_name }}</li>
              {% else %}
                <li>{{ player.created_user.first_name}} {{player.created_user.last_name }}</li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </td>
        <td class="text-center">
          <form method="post" name="game_remove">
            {% csrf_token %}
            <div>
              <!--Idenification--><input type="hidden" name="form_name" value="game_remove">
              <!--Idenification--><input type="hidden" name="game_id" value="{{ game.id }}">
              <button class="remove-btn" type="submit" onclick="return confirm('Are You Sure You Want to Remove This Game?')"></button>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% else %}
    <tbody>
      <tr>
        <td colspan="5">
          <div style="margin-top: 1em;">
            <p>No Games To Display</p>
          </div>
        </td>
      </tr>
    </tbody>
    {% endif %}
  </table> 
</div>
</div>