<h1>Ready to Start a Game?</h1>
<h2>Fill in the fields below and select your players</h2>
<form method="post" style="border: 1px solid lightgray; border-radius: 10px; background-color: 
#142230;">
  {% csrf_token %}
  <!--Idenification--><input type="hidden" name="form_name" value="start_game">
  <div class="m-3">
    {{form.type}}
  </div>
  <div class="m-3">
    {{form.buy_in}}
  </div>
  <div class="dropdown m-3">
    <button class="button-game" onclick="event.preventDefault()">Players</button>
    <div class="content">
        {{form.players}}
    </div>
  </div>
  <input class="button-game m-1" type="submit" value="Create Game">
</form>